/* SOBRE NOSOTROS */
.img--ab {
    width: 60rem;
    height: 47.5rem;
    padding-right: 6rem;
    margin-bottom: 5rem;
}

/* INFO */
.info--h3 {
    font-size: 2.5rem;
    font-weight: 900;
    text-align: center;
}

/* FB ICON */
.facebook--icon {
    display: flex;
    margin-top: 3rem;
}

.facebook--icon p {
    padding-top: 2rem;
}

/* WP ICON */
.wp--icon {
    display: flex;
    margin-top: 5rem;
}

.wp--icon p {
    padding-top: 1.5rem;
}

/* EMAIL ICON */
.email--icon {
    display: flex;
    margin-top: 5rem;
}

.email--icon p {
    padding-top: 1rem;
}

/* TW ICON */
.tw--icon {
    display: flex;
    margin-top: 5rem;
}

.tw--icon p {
    padding-top: 1rem;
}
